.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.classes {
  width: 240px;
  height: 200px;
  border-radius: 180px;
  position: absolute;
}

.classes {
  padding: 18px;
  background-color: white;
  border-radius: 40px;
  height: 10vh;
  position: absolute;
  margin-left: 50px;
  margin-top: -240px;
  font-size: 40px;
}

.classes:hover {
  background-color: beige;
}

.teachers {
  border-radius: 40px;
  height: 10vh;
  width: 22vw;
  position: absolute;
  margin-left: 50px;
  margin-top: -100px;
  font-size: 40px;
}

.teachers:hover {
  background-color: beige;
}
