.logo {
  width: 50vw;
  margin: -50px;
}

.time {
  top: 0;
  left: 0;
  margin-top: 50px;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.clock {
  width: 1em;
  padding-right: 20px;
  padding-top: 5px;
}

.slogan {
  padding-top: 50px;
  padding-right: 140px;
  width: 200px;
  left: 30;

  height: 200px;
}

.container {
  padding-top: 30px;
}

.paperplane {
  bottom: 0;
  width: 20%;
  height: 20%;
  position: absolute;
}
